*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    color: #a3a3a3;
}

.bold{
    font-weight: bold;
    color: white;
}

.flex-container{
    display: flex;
}

img{
    display: block;
    width: 100%;
}

h2{
    color: white;
}

/* main */
main{
    height: calc(100vh - 90px);
    width: 100%;
}

.main{
    height: calc(100vh - 90px);
    width: 100%;
    background-color: #141922;
    overflow: auto;
}

.side-bar{
    background-color: black;
    width: 250px;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
}

.logo{
    padding: 1rem;
    height: 70px;
}

a.button{
    text-decoration: none;
    color: white;
    align-items: center;
    padding: 3px;
}

.icon-home{
    width: 1.5rem;
    height: 1.5rem;
    margin: 3px;
}

.fluo{
    border-left: 2px solid #adff2f;
}

.playlist{
    flex-direction: column;
}

.playlist h4{
    padding: 6px;
    margin-top: 1rem;
}

.plus{
    color: black;
    background-color: #a3a3a3;
    font-size: 40px;
    height: 50px;
    width: 50px;
    font-weight: 500;
    text-align: center;
    margin: 3px;
}

.playlist > .button > span{
    margin: 3px;
}

/* .list{
    overflow-y: scroll;
} */

.list div{
    margin: 1rem 6px;
}

hr{
    margin: 6px;
}

.profile img{
    border-radius: 50%;
    background-color: grey;
}

/* transparent */
.transparent{
    height: 70px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: flex-end;
    align-items: center;
}

.upgrade{
    text-decoration: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 40px;
    border: 1px solid white;
}

/* squares */
.content{
    flex-direction: column;
}

.squares{
    margin: 1rem;
}

section{
    margin-top: 1rem;
}

nav{
    margin: 1rem auto;
    flex-wrap: wrap;
    justify-content: center;
}

nav a{
    text-decoration: none;
    color: white;
    padding: 1rem 2rem;
}

.recent, .created-for, .artists{
    gap: 1rem;
}

.album{
    width: calc(100% / 6);
    max-width: 200px;
    flex-grow: 1;
}

.album div{
    text-align: center;
    margin: 1rem 0;
}

.name{
    font-weight: bold;
    color: white;
}

.created-for-title{
    margin-top: 2rem;
}

.subtitle{
    margin-top: 1rem;
}

/* footer */
footer{
    height: 90px;
    background-color: #282828;
    justify-content: space-between;
    align-items: center;
}

.player{
    width: calc(100% / 3);
}

footer img{
    height: 50px;
    width: 50px;
    margin: 1rem;
}

footer > div.flex-container{
    align-items: center;
}

.name-song{
    font-size: 14px;
}

.track{
    font-size: 12px;
}

.player-left i{
    margin: 5px;
}

.player-center{
    flex-direction: column;
    align-items: center;
}

.player-center i{
    margin: 10px;
    color: white;
}

.time-line{
    width: 100%;
    background-color: gray;
    height: 3px;
    border-radius: 40px;
    cursor: pointer;
}

.inner-line{
    width: 30%;
    background-color: lightgray;
    height: 3px;
    border-radius: 40px;
}

.inner-line:hover{
    background-color: #adff2f;
}

.player-right{
    justify-content: right;
}

.player-right *{
    margin: 10px;
}

.volume-line{
    cursor: pointer;
    width: 20%;
    background-color: gray;
    height: 3px;
    border-radius: 40px;
}

/* xs */
@media screen and (max-width: 600px) {
    
}

/* s */
@media screen and (min-width: 601px) and (max-width: 700px){
    
}

/* md */
@media screen and (min-width: 701px) and (max-width: 1100px){
    
}

/* lg */
@media screen and (min-width: 1101px){
    
}