*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    color: #a3a3a3;
}

.bold{
    font-weight: bold;
    color: white;
}

.flex-container{
    display: flex;
}

img{
    display: block;
    width: 100%;
}

h2, h4{
    color: white;
}

.max{
    max-width: 200px;
}

.hidden-side{
    display: none;
}

.container{
    position: relative;
    width: 100%;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: black;
}

.overlay-round{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: black;
    border-radius: 50%;
}

.container:hover .overlay{
    opacity: 0.5;
}

.container:hover .overlay-round{
    opacity: 0.5;
}

.overlay i{
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay-round i{
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.upgrade:hover{
    transform: scale(1.1);
}

.white-hover:hover, .white-hover *:hover{
    color: white;
}

.underline:hover{
    text-decoration: underline;
}

.scale:hover{
    transform: scale(1.2);
}

.add:hover .plus{
    background-color: white;
}

.add:hover span{
    color: white;
}

.abs{
    position: relative;
}

.fluo-col{
    background-color: #adff2f;
    border-radius: 40px;
    height: 3px;
    width: 40px;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* main */
main{
    height: calc(100vh - 90px);
    width: 100%;
}

.main{
    height: calc(100vh - 90px);
    width: 100%;
    background-color: #141922;
    overflow: auto;
    overflow-x: hidden;
}

.side-bar{
    background-color: black;
    width: 250px;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
}

.hidden-side{
    width: 50px;
    background-color: black;
    justify-content: space-between;
    flex-direction: column;
}

.hidden-side img{
    width: 30px;
    height: 30px;
    margin: 10px;
}

.profile-hidden{
    border-radius: 50%;
    background-color: grey;
}

.logo{
    padding: 1rem;
    height: 70px;
}

a.button{
    text-decoration: none;
    color: white;
    align-items: center;
    padding: 3px;
}

.icon-home{
    width: 1.5rem;
    height: 1.5rem;
    margin: 3px;
}

.fluo{
    border-left: 2px solid #adff2f;
}

.playlist{
    flex-direction: column;
}

.playlist h4{
    padding: 6px;
    margin-top: 1rem;
}

.plus{
    color: black;
    background-color: #a3a3a3;
    font-size: 40px;
    height: 50px;
    width: 50px;
    font-weight: 500;
    text-align: center;
    margin: 3px;
}

.playlist > .button > span{
    margin: 3px;
}

.list{
    overflow-y: auto;
    height: calc(100vh - 470px);
    min-height: 100px;
}

.list div{
    margin: 1rem 6px;
}

hr{
    margin: 6px;
}

.profile img{
    border-radius: 50%;
    background-color: grey;
}

/* transparent */
.transparent{
    height: 70px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: flex-end;
    align-items: center;
}

.upgrade{
    text-decoration: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 40px;
    border: 1px solid white;
}

/* squares */
.content{
    flex-direction: column;
}

.squares{
    margin: 1rem;
}

section{
    margin-top: 1rem;
}

nav{
    margin: 1rem auto;
    flex-wrap: wrap;
    justify-content: center;
}

nav a{
    text-decoration: none;
    color: grey;
    padding: 1rem;
}

.recent, .created-for, .artists{
    gap: 1rem;
}

.album{
    width: calc(100% / 6);
    max-width: 200px;
}

.album .info{
    text-align: center;
    margin: 1rem 0;
}

.name{
    font-weight: bold;
    color: white;
}

.created-for-title{
    margin-top: 2rem;
}

.subtitle{
    margin-top: 1rem;
}

.round{
    border-radius: 50%;
}

/* footer */
footer{
    height: 90px;
    background-color: #282828;
    justify-content: space-between;
    align-items: center;
}

.player{
    width: calc(100% / 3);
}

footer img{
    height: 50px;
    width: 50px;
    margin: 1rem;
}

footer > div.flex-container{
    align-items: center;
}

.name-song{
    font-size: 14px;
}

.track{
    font-size: 12px;
}

.player-left i{
    margin: 5px;
}

.player-center{
    flex-direction: column;
    align-items: center;
}

.player-center i{
    margin: 10px;
    color: white;
}

.time-bar{
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.time-line{
    width: 90%;
    background-color: gray;
    height: 3px;
    border-radius: 40px;
    cursor: pointer;
}

.time{
    font-size: 10px;
    color: white;
    margin: 0 2px;
}

.inner-line{
    width: 30%;
    background-color: lightgray;
    height: 3px;
    border-radius: 40px;
    position: relative;
}

.inner-line:hover{
    background-color: #adff2f;
}

.inner-line:hover .circle{
    opacity: 1;
}

.circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: -3px;
    background-color: white;
    opacity: 0;
}

.player-right{
    justify-content: right;
    margin-right: 10px;
}

.player-right i{
    margin: 10px;
}

.volume-line{
    cursor: pointer;
    width: 20%;
    background-color: gray;
    height: 3px;
    border-radius: 40px;
}

/* md */
@media screen and (min-width: 701px) and (max-width: 1100px){
    .squares{
        margin-right: 0;
    }
    
    .recent{
        flex-wrap: wrap;
    }

    .album{
        width: calc(100% / 4 - 1rem);
    }
}

/* s */
@media screen and (min-width: 601px) and (max-width: 700px){
    .squares{
        margin-right: 0;
    }
    
    .recent{
        flex-wrap: wrap;
    }

    .album{
        width: calc(100% / 2 - 1rem);
    }
}

/* xs */
@media screen and (max-width: 600px) {
    .squares{
        margin-right: 0;
    }
    
    .recent{
        flex-wrap: wrap;
    }

    .album{
        width: calc(100% / 2 - 1rem);
    }

    .side-bar{
        display: none;
    }

    .hidden-side{
        display: block;
        display: flex;
        overflow: hidden;
    }
}